.Neg-Izq
  margin-right: -80px

.Color-Bkg-Cajon
  background-color: #F5F5F5
  padding: 10px

.hijoHoja
  position: absolute
  width: 194px
  height: 174px
  bottom: -85px
  right: -20px  

.fondoBanner-1
  background-image: url("../assets/curso/FondoBanner.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center left

.colorText-verde
  color: #78B62E

.bg-color-gris
  background-color:#e8e8e8

.bg-tabla-primario
  background-color: #3C6D9D
